{{> header}}
{{> navbar}}

<h1>Acerca de</h1>
<hr>
<img class="foto1" src="yo.jpg" alt="no">
<h2>Johana Daniela ortiz Chaparro</h2>
<h2>Grado: 4</h2>
<h2>Grupo: F</h2>
<h2>CBTis 122</h2>

{{> footer}}